<div ngbDropdown placement="bottom-right" class="kt-header__topbar-item kt-header__topbar-item--user">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">
		<span class="kt-header__topbar-icon">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
					<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" id="Mask" fill="#000000" fill-rule="nonzero" opacity="0.3" />
					<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" id="Mask-Copy" fill="#000000" fill-rule="nonzero" />
				</g>
			</svg>
		</span>
		<!-- <span class="kt-badge kt-badge--inlinekt-badge--dot kt-badge--notify kt-badge--sm kt-badge--brand"></span> -->
	</div>
	<div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
		<div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(./assets/media/misc/bg-1.jpg)">
			<div class="kt-user-card__avatar">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
						<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" id="Mask" fill="#000000" fill-rule="nonzero" opacity="0.3" />
						<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" id="Mask-Copy" fill="#000000" fill-rule="nonzero" />
					</g>
				</svg>
				<span [hidden]="true" class="kt-badge kt-badge--inlinekt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">
				</span>
			</div>
			<div class="kt-user-card__name">
				<span class="m--font-weight-500"> {{user.name}} {{user.midname}}{{user.surname}} </span>	
				<br>
				<a href="mailto:{{user.email}}" class="m-card-user__email m--font-weight-300 m-link">
					{{user.email}}
				</a>
			</div>
			<div class="kt-user-card__badge">
				<!-- <span class="kt-margin-l-5 btn btn-success btn-sm btn-bold btn-font-md">23 messages</span> -->
			</div>
		</div>
		<div class="kt-notification">

			<div class="kt-notification__custom">
				<a href="javascript:;" (click)="logout()" class="kt-margin-l-5 btn btn-outline-brand btn-upper btn-sm btn-bold">{{ 'General.Logout' | translate }}</a>
			</div>
		</div>

	</div>
</div>