<div class="modal-header">
	<h4 class="modal-title">{{ 'General.SessionTimeout' | translate }}</h4>
</div>
<div class="modal-body">
	<p>{{ 'General.YourSessionIsAboutToExpire' | translate }}</p>
	<p>{{ 'General.LogoutIn' | translate }}</p>
	<p>{{ timeLeft }} {{ 'General.Seconds' | translate }}.</p>
	<p>
		<ngb-progressbar type="{{ getType() }}" [value]="progressed" [striped]="true" [animated]="true">
			<i>{{ timeLeft }}</i>
		</ngb-progressbar>
	</p>
</div>
<div class="modal-footer">
	<button type="button" class="kt-margin-l-5 btn btn-secondary" (click)="logout()">{{ 'General.Logout' | translate }}</button>
	<button type="button" class="kt-margin-l-5 btn btn-primary" (click)="stayConnected()">{{ 'General.StayConnected' | translate }}</button>
</div>