<kt-portlet [options]="{headLarge: true}">
	<kt-portlet-header [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTitle>
			<div class="kt-portlet__head-title">
				<h3 class="kt-portlet__head-title" id="title">
					{{'Menu.Common.Auth.UserRoleOwnershipRpt' | translate}}
				</h3>
			</div>
		</ng-container>
		<ng-container ktPortletTools>
			<button class="kt-margin-l-5 btn btn-success" [disabled]="disableExportButton" (click)="exportLoadData()"> <i class="la la-ellipsis-h"></i> {{'General.Export' | translate}}</button>
		</ng-container>

	</kt-portlet-header>

	<kt-portlet-body>
		<div class="kt-section">
			<div class="kt-section__content">
				<p>
					<ngb-progressbar type="warning" [value]="loadingValue" 
					[striped]="true"
					[animated]="true"
					*ngIf="isLoading">{{'General.Loading' | translate}}</ngb-progressbar>
				</p>
				<p>
					<ngb-progressbar type="success" [value]="100" 
					[striped]="true"
					[animated]="true"
					*ngIf="isLoaded">{{'General.Completed' | translate}}</ngb-progressbar>
				</p>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>