<form class="kt-form" [formGroup]="ptcnSearchForm">
	<div class="form-group row">
		<div class="col kt-margin-b-10-mobile">
			<mat-form-field class="mat-form-field-fluid">
				<input #merchantCode matInput placeholder="{{ 'Acquiring.Merchant.MerchantCode' | translate}}" id="merchantCode" formControlName="merchantCode" [textMask]="{mask: merchantCodeMask, guide:false}" autocomplete="off">
				<mat-icon matSuffix class="flaticon-search-1" (click)="openDialog()" matTooltip="{{ 'General.Search' | translate }}"></mat-icon>
			</mat-form-field>
		</div>

		<div class="col kt-margin-b-10-mobile" *ngIf="invisibleCardMask && invisible">
			<mat-form-field class="mat-form-field-fluid">
				<input #tradeName matInput placeholder="{{ 'Acquiring.Merchant.TradeName' | translate }}" id="tradeName" formControlName="tradeName" maxlength="80" readonly>
			</mat-form-field>
		</div>
	</div>
</form>