<kt-alert *ngIf="dataSource.hasError()" type="warn" (close)="dataSource.clearError()">{{dataSource.getErrorMessage()}}</kt-alert>
<kt-portlet [options]="{headLarge: true}" [loading$]="dataSource.loading$">
		<kt-portlet-header [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTitle>
		<div class="kt-portlet__head-title">
			<h3 class="kt-portlet__head-title">
			<span class="kt-margin-r-10 kt-icon" aria-label="My icon" [inlineSVG]="'./assets/media/icons/svg/Devices/Display1.svg'"></span>
				{{'System.JobChain.JobChainList' | translate }}
			</h3>
		</div>
	</ng-container>

	<ng-container *ngIf="'add'|checkauth" ktPortletTools>
		<a id="btnCreate" class="kt-margin-l-5 btn btn-brand" *ngIf="'add'|checkauth" [routerLink]="['/common/jobChains/jobChainDef/add']"><span> <i class="la la-plus-circle mt-icon-resizeable-xs"></i> <span>{{'General.CreateNew' | translate}}</span> </span></a>
	</ng-container>
	</kt-portlet-header>

	<kt-portlet-body class="kt-margin-b-30">
		<div class="kt-form">
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-4 kt-margin-b-10-mobile">
						<mat-form-field>
							<input matInput placeholder="{{'General.Search' | translate}}" #searchInput class="mat-form-field mat-form-field-fluid">
							<mat-hint align="start">
								<strong>{{'General.SearchInAllFields' | translate}}</strong>
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>

		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="guid" matSortDirection="asc">
				<ng-container matColumnDef="guid">
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{'General.Guid' | translate}}</mat-header-cell>
					<mat-cell *matCellDef="let row">{{row.guid}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="description">
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{'General.Description' | translate}}</mat-header-cell>
					<mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>{{'General.Actions' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<button mat-icon-button [matMenuTriggerFor]="menu" id="moreAction">
							<mat-icon>more_vert</mat-icon>
						</button>

						<mat-menu #menu="matMenu">
							<a mat-menu-item id="edit" *ngIf="'edit'|checkauth" [routerLink]="['/common/jobChains/jobChainDef/edit']" [queryParams]="{guid: row.guid}" class="btn">
								<mat-icon>create</mat-icon><span> {{'General.Edit' | translate }}</span>
							</a>
							<a mat-menu-item id="view" [routerLink]="['/common/jobChains/jobChainMonitoring/']" [queryParams]="{guid: row.guid}" class="btn">
								<mat-icon>search</mat-icon><span> {{'System.JobChain.ExecutionAndMonitoring' | translate }}</span>
							</a>
							<a mat-menu-item id="delete" *ngIf="'delete'|checkauth" (click)="delete(row)" class="btn">
								<mat-icon>delete</mat-icon><span> {{'General.Delete' | translate }}</span>
							</a>
							<a mat-menu-item id="history" (click)="openHistory(row.guid)" class="btn">
								<mat-icon>history</mat-icon><span> {{'General.History' | translate }} </span>
							</a>
						</mat-menu>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>

			<div class="mat-table__message kt-font-danger" *ngIf="!dataSource.hasItems && dataSource.wasQuery">{{'General.NoRecordsFound' | translate }}</div>
		</div>

		<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
		</div>
	</kt-portlet-body>
</kt-portlet>
