<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
	<!--begin: Search -->
	<m-environment class="kt-padding-t-15 tb-topbarWith"></m-environment>
	<!--end: Search -->
	<!--begin: Notifications -->
	<kt-notification (click)="notificationClick()" [(refreshData)]="refreshData" [bgImage]="'./assets/media/misc/bg-2.jpg'" [pulse]="true" [skin]="'dark'" [icon]="'./assets/media/icons/svg/Code/Compiling.svg'" [useSVG]="true"></kt-notification>

	<kt-language-selector></kt-language-selector>
	<!--end: Language bar -->
	<!--begin: User bar -->
	<kt-user-profile2></kt-user-profile2>
	<!--end: User bar -->
</div>
<!-- end:: Header Topbar -->