<kt-portlet [options]="{headLarge: true, enableSticky: true}" [loading$]="loading$">
	<kt-portlet-header [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTitle>
			<div class="kt-portlet__head-title">
				<h3 class="kt-portlet__head-title">
					<span class="kt-margin-r-10 kt-icon" aria-label="My icon" [inlineSVG]="'./assets/media/icons/svg/Devices/Display1.svg'"></span>
					{{ 'Menu.Common.Auth.UserDefinition' | translate }} | {{ getComponentTitle() }}
				</h3>
			</div>
		</ng-container>

		<ng-container ktPortletTools>
			<a id="btnBack" class="kt-margin-l-5 btn btn-brand" (click)="goBack()"><span> <i class="la la-mail-reply"></i> <span>{{ 'General.Back' | translate }}</span> </span></a>
			<a id="btnClear" *ngIf="entityModel._isNew" class="kt-margin-l-5 btn btn-secondary" (click)="clearScreen()"><span> <i class="la la-recycle"></i> <span>{{ 'General.Clear' | translate }}</span> </span></a>

			<div *ngIf="'add'|checkauth">
				<a id="btnSave" *ngIf="entityModel._isNew" [class.disabled]="isProcessing" class="kt-margin-l-5 btn btn-brand" (click)="save()"><span><i class="la la-save"></i><span>{{ 'General.Save' | translate }}</span></span></a>
				<a id="btnUpdate" *ngIf="entityModel._isEditMode" [class.disabled]="isProcessing" class="kt-margin-l-5 btn btn-brand" (click)="save()"><span> <i class="la la-edit"></i> <span>{{ 'General.Update' | translate }}</span> </span></a>
			</div>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
			{{validationMessage}}
		</kt-alert>
		<form [formGroup]="entityForm" [checkauth]="isReadonly" class="kt-form ">
			<div class="kt-form__section kt-form__section--first">
				<div class="kt-form__group">
					<div class="row">
						<div class="col-md-3 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="{{ 'Auth.Input.UserCode' | translate }}" readonly="{{entityModel._isEditMode}}" maxlength="50" formControlName="clientId" required>
							</mat-form-field>
						</div>

						<div class="col-md-3 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="{{ 'General.Name' | translate }}" maxlength="40" formControlName="name" required>
							</mat-form-field>
						</div>

						<div class="col-md-3 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="{{ 'General.Midname' | translate }}" maxlength="40" formControlName="midname">
							</mat-form-field>
						</div>

						<div class="col-md-3 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="{{ 'General.Surname' | translate }}" maxlength="40" formControlName="surname" required>
							</mat-form-field>
						</div>

						<div class="col-md-3 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="{{ 'General.EmployeeId' | translate }}" maxlength="50" formControlName="employeeId">
							</mat-form-field>
						</div>

						<div class="col-md-3 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="{{ 'General.Email' | translate }}" formControlName="email" maxlength="40" [textMask]="{mask: emailMask, guide:false}" reqired>
							</mat-form-field>
						</div>

						<div class="col-md-3 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="{{ 'General.UserStat'| translate }}" formControlName="userStat" required>
									<mat-option id="optUserStat" [value]="item.code" *ngFor="let item of appUserStats;">{{ item.description }}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="col-md-3 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="{{ 'System.Member.ChannelCode'| translate }}" formControlName="channelCode" required>
									<mat-option id="optChannelCode" [value]="item.code" *ngFor="let item of appChannelCodes;">{{ item.description }}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="col-md-3 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="{{ 'System.Authority.UserRole' | translate }}" [multiple]="true" formControlName="userRoleIds">
									<ngx-mat-select-search [formControl]="frmControlSearch" #filter placeholderLabel="{{ 'General.Search' | translate }}" noEntriesFoundLabel="{{ 'General.NoRecordsFound' | translate }}">
									</ngx-mat-select-search>
									<mat-option [value]="item.code" *ngFor="let item of appRoles | filterByProperty: ['description',filter.value];">{{item.description}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="col-md-3 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="{{ 'General.SessionDuration' | translate }}" formControlName="sessionDuration" maxlength="8" [textMask]="{mask: numericMask, guide:false}">
							</mat-form-field>
						</div>

						<div class="col-md-3 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="{{ 'General.BlockWrongPasswordCount' | translate }}" formControlName="blockWrongPasswordCount" maxlength="2" [textMask]="{mask: numericMask, guide:false}">
							</mat-form-field>
						</div>

						<div class="col-md-3 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="{{ 'General.IncorrectPasswordEntries' | translate }}" formControlName="incorrectPasswordEntries" maxlength="2" [textMask]="{mask: numericMask, guide:false}" readonly="true">
							</mat-form-field>
						</div>

						<div class="col-md-3 kt-margin-b-10-mobile">
							<br>
							<mat-checkbox formControlName="isBuiltInUser">{{ 'General.IsBuiltInUser' | translate }}</mat-checkbox>
						</div>

						<div class="col-md-3 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="{{ 'General.ValidPasswordRegex' | translate }}" maxlength="16" formControlName="validPasswordRegex">
							</mat-form-field>
						</div>

						<div class="col-md-3 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="{{ 'General.NewPassword' | translate }}" maxlength="16" formControlName="enteredPassword">
							</mat-form-field>
						</div>
					</div>
				</div>
			</div>
		</form>
	</kt-portlet-body>
</kt-portlet>