<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>{{ 'Auth.Forgot.Title' | translate }}</h3>
		</div>

		<kt-auth-notice></kt-auth-notice>

		<form class="kt-form" [formGroup]="forgotPasswordForm" autocomplete="off">
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{ 'Auth.Input.Email' | translate }}</mat-label>
					<input matInput type="email" placeholder="{{ 'Auth.Input.Email' | translate }}" formControlName="email" autocomplete="off"/>
					<mat-error *ngIf="isControlHasError('email','required')">
						<strong>{{ 'Auth.Validation.RequiredField' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','email')">
						<strong>{{ 'Auth.Validation.InvalidField' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','minLength')">
						<strong>{{ 'Auth.Validation.MinLengthField' | translate }} 3</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','maxLength')">
						<strong>{{ 'Auth.Validation.MaxLengthField' | translate }} 320</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<!--begin::Action-->
			<div class="kt-login__actions">
				<button routerLink="/auth/login" [disabled]="loading" id="kt_login_signup_cancel" class="kt-margin-l-5 btn btn-secondary btn-elevate kt-login__btn-secondary">{{ 'Auth.General.BackButton' | translate }}</button>
				<button (click)="submit()" id="kt_login_signin_submit" class="kt-margin-l-5 btn btn-primary btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">{{ 'Auth.General.SubmitButton' | translate }}</button>
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>

