<kt-portlet [options]="{headLarge: true, enableSticky: true}">
	<kt-portlet-header [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTitle>
			<div class="kt-portlet__head-title">
				<h3 class="kt-portlet__head-title" id="title">
					{{ 'Menu.Common.Auth.ChangePassword' | translate }} | {{ getComponentTitle() }}
				</h3>
			</div>
		</ng-container>

		<ng-container ktPortletTools>
			<a id="btnClear" [class.disabled]="isProcessing" class="kt-margin-l-5 btn btn-secondary" (click)="clearScreen()">
				<span><i class="la la-recycle"></i><span>{{ 'General.Clear' | translate }}</span></span>
			</a>

			<div *ngIf="'add'|checkAuth">
				<a id="btnSave" [class.disabled]="isProcessing" class="kt-margin-l-5 btn btn-brand" (click)="submit()">
					<span><i class="la la-save"></i><span>{{ 'Auth.General.SubmitButton' | translate }}</span></span>
				</a>
			</div>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<form [formGroup]="requestForm" class="kt-form ">
			<div class="kt-form__section kt-form__section--first">
				<div class="kt-form__group">
					<div class="row">
						<div class="col-md-3 kt-margin-b-10 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="{{ 'System.Authority.OldPassword' | translate }}" formControlName="oldPassword" maxlength="20" required>
							</mat-form-field>
						</div>

						<div class="col-md-3 kt-margin-b-10 kt-margin-b-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="{{ 'System.Authority.NewPassword' | translate }}" formControlName="newPassword" maxlength="20" required>
							</mat-form-field>
						</div>
					</div>
				</div>
			</div>
		</form>
	</kt-portlet-body>
</kt-portlet>