<kt-portlet [options]="{headLarge: true, enableSticky: true}" [loading$]="loading$">

	<kt-portlet-header [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTitle>
			<div class="kt-portlet__head-title">
				<h3 class="kt-portlet__head-title">
					<span class="kt-margin-r-10 kt-icon" aria-label="My icon" [inlineSVG]="'./assets/media/icons/svg/Devices/Display1.svg'"></span>
					{{'Menu.Common.Member.CfgMemberDef' | translate}} | {{ getComponentTitle() }}
					<mat-spinner [diameter]="20" *ngIf="disabledNextButton && !isView"></mat-spinner>
				</h3>
			</div>
		</ng-container>

		<ng-container ktPortletTools>
			<button id="btnGoBack" type="button" (click)="goBack()" class="kt-margin-l-5 btn btn-brand"> <span><i class="la la-mail-reply"></i><span>{{'General.Back' | translate}}</span></span></button>

			<div *ngIf="'add'|checkauth">
				<button id="btnProcessBack" [disabled]="disabledBackButton" type="button" (click)="processBack()" class="kt-margin-l-5 btn btn-brand"> <span><i class="la la-arrow-circle-o-left mt-icon-resizeable-xs"></i><span>{{'General.Previous' | translate}}</span></span></button>
				<button id="btnProcessNext" [disabled]="disabledNextButton" type="button" (click)="processNext()" class="kt-margin-l-5 btn btn-brand"> <span><i class="la la-arrow-circle-o-right mt-icon-resizeable-xs"></i><span>{{nextButtonTitle}}</span></span></button>
			</div>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
			{{validationMessage}}
		</kt-alert>
		<div [formGroup]="mainForm" class="kt-form">
			<ngb-accordion #acc11="ngbAccordion" [activeIds]="activeAccordionIds" (panelChange)="beforeChange($event)">
				<ngb-panel id="memberDefinitionToogle" *ngIf="activeAccordionActiveIdsList.includes('memberDefinitionToogle')">
					<ng-template ngbPanelTitle>
						<span class="kt-accordion__item-title">{{'System.Member.MemberDefinitonInfo'| translate}}</span>
					</ng-template>

					<ng-template ngbPanelContent>
						<form [formGroup]="memberDefinitionForm" [checkauth]="isView" class="kt-form" autocomplete="off">
							<div class="kt-form__section kt-form__section--first">
								<div class="kt-form__group">
									<div class="row">
										<div class="col-lg-4 kt-margin-b-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput id="description" placeholder="{{'General.Description' | translate}}" formControlName="description" type="multilangtext" maxlength="100" required>
											</mat-form-field>
										</div>

										<div class="col-lg-4 kt-margin-b-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="{{'System.Member.Language'| translate}}" formControlName="languageCode" required>
													<ngx-mat-select-search [formControl]="formControlSearch" #filter1 placeholderLabel="{{'General.Search' | translate}}" noEntriesFoundLabel="{{'General.NoRecordsFound' | translate }}"></ngx-mat-select-search>
													<mat-option id="languageCode" [value]="item.code" *ngFor="let item of cfgLanguage | filterByProperty: ['code','description',filter1.value];"> {{item.description}} </mat-option>
												</mat-select>
											</mat-form-field>
										</div>

										<div class="col-lg-4 kt-margin-b-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="{{'General.DefaultCurrencyCode' | translate}}" formControlName="mbrCurrency" required>
													<ngx-mat-select-search [formControl]="formControlSearch" #filter2 placeholderLabel="{{'General.Search' | translate}}" noEntriesFoundLabel="{{'General.NoRecordsFound' | translate }}"></ngx-mat-select-search>
													<mat-option id="mbrCurrency" [value]="item.code" *ngFor="let item of txnCurrencyDefs | filterByProperty: ['code','description',filter2.value];"> {{item.description}} </mat-option>
												</mat-select>
											</mat-form-field>
										</div>

										<div class="col-lg-4 kt-margin-b-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="{{'System.Member.Country'| translate}}" formControlName="countryCode" (selectionChange)="onChangeCountryCode($event)" required>
													<ngx-mat-select-search [formControl]="formControlSearch" #filter3 placeholderLabel="{{'General.Search' | translate}}" noEntriesFoundLabel="{{'General.NoRecordsFound' | translate }}"></ngx-mat-select-search>
													<mat-option id="countryCode" [value]="item.code" *ngFor="let item of cfgCountryDefs | filterByProperty: ['code','description',filter3.value];"> {{item.description}} </mat-option>
												</mat-select>
											</mat-form-field>
										</div>

										<div class="col-lg-4 kt-margin-b-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="{{'System.Member.City'| translate}}" formControlName="cityCode" (selectionChange)="onChangeCityCode($event)" required>
													<ngx-mat-select-search [formControl]="formControlSearch" #filter4 placeholderLabel="{{'General.Search' | translate}}" noEntriesFoundLabel="{{'General.NoRecordsFound' | translate }}"></ngx-mat-select-search>
													<mat-option id="cityCode" [value]="item.code" *ngFor="let item of cfgCityDefs | filterByProperty: ['code','description',filter4.value];"> {{item.description}} </mat-option>
												</mat-select>
											</mat-form-field>
										</div>

										<div class="col-lg-4 kt-margin-b-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="{{'System.Member.Town'| translate}}" formControlName="town">
													<ngx-mat-select-search [formControl]="formControlSearch" #filter5 placeholderLabel="{{'General.Search' | translate}}" noEntriesFoundLabel="{{'General.NoRecordsFound' | translate }}"></ngx-mat-select-search>
													<mat-option id="town" [value]="item.code" *ngFor="let item of cfgCityTownDefs | filterByProperty: ['code','description',filter5.value];"> {{item.description}} </mat-option>
												</mat-select>
											</mat-form-field>
										</div>

										<div class="col-lg-4 kt-margin-b-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput id="address1" placeholder="{{'System.Member.Address' | translate}}" formControlName="address1" type="text" maxlength="80" required>
											</mat-form-field>
										</div>
										<div class="col-lg-4 kt-margin-b-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput id="taxNo" placeholder="{{'Acquiring.Merchant.TaxNo' | translate}}" formControlName="taxNo" type="text" maxlength="10">
											</mat-form-field>
										</div>

										<div class="col-lg-4 kt-margin-b-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput id="postalCode" placeholder="{{'System.Member.ZipCode' | translate}}" formControlName="postalCode" type="text" maxlength="10">
											</mat-form-field>
										</div>

										<div class="col-lg-4 kt-margin-b-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput id="eftCode" placeholder="{{'System.CfgBin.EftCode' | translate}}" formControlName="eftCode" type="text" maxlength="10">
											</mat-form-field>
										</div>

										<div class="col-lg-4 kt-margin-b-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput id="faxNumber" placeholder="{{'Acquiring.Merchant.Fax' | translate}}" formControlName="faxNumber" type="text" [textMask]="{mask: phoneMask1 , guide:false}" maxlength="16">
											</mat-form-field>
										</div>

										<div class="col-lg-4 kt-margin-b-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput id="isoCountryCode" placeholder="{{'Clearing.Clearing.CountryCode' | translate}}" [textMask]="{mask: countryMask , guide:false}" formControlName="isoCountryCode" maxlength="3">
											</mat-form-field>
										</div>
									</div>
								</div>
							</div>
						</form>
					</ng-template>
				</ngb-panel>

				<ngb-panel id="loopSelectionToogle" *ngIf="activeAccordionActiveIdsList.includes('loopSelectionToogle')">
					<ng-template ngbPanelTitle>
						<span class="kt-accordion__item-title">{{'System.Member.LoopSelection'| translate}}</span>
					</ng-template>

					<ng-template ngbPanelContent>
						<form [formGroup]="loopSelectionForm" [checkauth]="isView" class="kt-form" autocomplete="off">
							<div class="kt-form__section kt-form__section--first">
								<div class="kt-form__group">
									<div class="row">
										<div class="col-lg-6 kt-margin-b-10-mobile">
											<mat-radio-group class="example-radio-group" formControlName="loopSelection" (change)="onChangeLoopSelection()">
												<mat-radio-button [value]="true"> {{'System.Member.OpenLoop'| translate}}</mat-radio-button>
												<mat-radio-button [value]="false"> {{'System.Member.ClosedLoop'| translate}}</mat-radio-button>
											</mat-radio-group>
										</div>

										<div class="col-lg-6 kt-margin-b-10-mobile" *ngIf="entityModel.loopSelection">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="{{'System.CfgBin.Brand' | translate}}" [multiple]="true" formControlName="loopSelectionValue">
													<mat-option id="loopSelectionValue" [value]="item.code" [disabled]="!(item.code === 'B' || item.code === 'V' || item.code === 'M')" *ngFor="let item of cfgLoopBrandDefs">{{item.description | langparser}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
								</div>
							</div>
						</form>
					</ng-template>
				</ngb-panel>

				<ngb-panel id="moduleSelectionToogle" *ngIf="activeAccordionActiveIdsList.includes('moduleSelectionToogle')">
					<ng-template ngbPanelTitle>
						<span class="kt-accordion__item-title">{{'System.Member.ModuleSelection'| translate}}</span>
					</ng-template>

					<ng-template ngbPanelContent>
						<form [formGroup]="moduleSelectionForm" [checkauth]="isView" class="kt-form" autocomplete="off">
							<div class="kt-form__section kt-form__section--first">
								<div class="kt-form__group">
									<div class="row">
										<div class="col-lg-4 kt-margin-b-10-mobile" *ngIf="entityModel._isNew">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="{{'General.ReferanceMemberId'| translate}}" formControlName="referanceMbrId">
													<ngx-mat-select-search [formControl]="formControlSearch" #filter6 placeholderLabel="{{'General.Search' | translate}}" noEntriesFoundLabel="{{'General.NoRecordsFound' | translate }}"></ngx-mat-select-search>
													<mat-option id="referanceMbrIdEmpty" [value]='0'></mat-option>
													<mat-option id="referanceMbrId" [value]="item.code" *ngFor="let item of memberDefList | filterByProperty: ['code','description',filter6.value];"> {{item.description}} </mat-option>
												</mat-select>
											</mat-form-field>
										</div>

										<div class="col-lg-12 kt-margin-b-10-mobile">
											<mat-checkbox id="issuingApi" formControlName="issuingApi">{{'Menu.Issuing.Title' | translate}}</mat-checkbox>
										</div>

										<div class="col-lg-12 kt-margin-b-10-mobile">
											<mat-checkbox id="acquiringApi" formControlName="acquiringApi">{{'Menu.Acquiring.Title' | translate}}</mat-checkbox>
										</div>

										<div class="col-lg-12 kt-margin-b-10-mobile" *ngIf="entityModel.loopSelection">
											<mat-checkbox id="clearingApi" formControlName="clearingApi">{{'Menu.Clearing.Title' | translate}}</mat-checkbox>
										</div>

										<div class="col-lg-12 kt-margin-b-10-mobile">
											<mat-checkbox id="fraudApi" formControlName="fraudApi">{{'Clearing.Clearing.Fraud' | translate}}</mat-checkbox>
										</div>
									</div>
								</div>
							</div>
						</form>
					</ng-template>
				</ngb-panel>

				<ngb-panel id="issuingSelectionToogle" *ngIf="activeAccordionActiveIdsList.includes('issuingSelectionToogle') && entityModel.issuingApi">
					<ng-template ngbPanelTitle>
						<span class="kt-accordion__item-title">{{'Issuing.General.Selection' | translate}}</span>
					</ng-template>

					<ng-template ngbPanelContent>
						<form [formGroup]="issuingSelectionForm" [checkauth]="isView" class="kt-form" autocomplete="off">
							<div class="kt-form__section kt-form__section--first">
								<div class="kt-form__group">
									<div class="row">
										<div class="col-lg-6 kt-margin-b-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="{{'System.CfgBin.DebitCreditIndicator' | translate}}" [multiple]="true" formControlName="issuingSelectionValue">
													<mat-option id="issuingSelectionValue" [value]="item.code" *ngFor="let item of cfgCardDciDefs">{{item.description}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
								</div>
							</div>
						</form>
					</ng-template>
				</ngb-panel>

				<ngb-panel id="acquiringSelectionToogle" *ngIf="activeAccordionActiveIdsList.includes('acquiringSelectionToogle') && entityModel.acquiringApi">
					<ng-template ngbPanelTitle>
						<span class="kt-accordion__item-title">{{'Acquiring.General.Selection' | translate}}</span>
					</ng-template>

					<ng-template ngbPanelContent>
						<form [formGroup]="acquiringSelectionForm" [checkauth]="isView" class="kt-form" autocomplete="off">
							<div class="kt-form__section kt-form__section--first">
								<div class="kt-form__group">
									<div class="row">
										<div class="col-lg-6 kt-margin-b-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="{{'Acquiring.General.Selection' | translate}}" [multiple]="true" formControlName="acquiringSelectionValue">
													<mat-option id="acquiringSelectionValue" [value]="item.code" *ngFor="let item of cfgAcquiringBusinessDefs">{{item.description}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
								</div>
							</div>
						</form>
					</ng-template>
				</ngb-panel>

				<ngb-panel id="memberDefaultToogle" *ngIf="activeAccordionActiveIdsList.includes('memberDefaultToogle')">
					<ng-template ngbPanelTitle>
						<span class="kt-accordion__item-title">{{'System.Member.MemberDefaultInfo'| translate}}</span>
					</ng-template>

					<ng-template ngbPanelContent>
						<br>
						<br>
						<form [formGroup]="memberDefaultForm" [checkauth]="isView" class="kt-form" autocomplete="off">
							<mat-tab-group>
								<mat-tab id="memberDefaultAcquiringTab" *ngIf="acquiringApiTab">
									<ng-template mat-tab-label> <i class="flaticon-home-2 kt--margin-right-10"></i>{{'Menu.Acquiring.Title' | translate}} </ng-template>
									<mat-tab-group>
										<mat-tab id="memberDefaultCoreAcquiringTab" *ngIf="acquiringApiCoreTab">
											<ng-template mat-tab-label> {{'Acquiring.General.Core' | translate}}</ng-template>
											<div *ngFor="let rowMemberApp of memberDefaultCoreAcquiring">
												<b> {{rowMemberApp.description}}</b>
												<div class="kt-form__section kt-form__section--first">
													<div class="kt-form__group">
														<div class="row">
															<div *ngFor="let rowMember of rowMemberApp.data" class="col-md-4 kt-margin-b-10-mobile">
																<div *ngIf="rowMember.dataType===null || rowMember.dataType==='T' || (rowMember.dataType==='L' && rowMember.lookup==='')">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="text" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='N'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="number" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='D'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" matInput [matDatepicker]="rowMember.guid" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																		<mat-datepicker-toggle matSuffix [for]="rowMember.guid"></mat-datepicker-toggle>
																		<mat-datepicker #rowMember.guid></mat-datepicker>
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='L' && rowMember.lookup !=''">
																	<mat-form-field class="mat-form-field-fluid">
																		<mat-select title="{{rowMember.key}}" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																			<mat-option id="{{rowMember.guid}}" [value]="item.code" *ngFor="let item of getLookUpList(rowMember.lookup)"> {{item.description}} </mat-option>
																		</mat-select>
																	</mat-form-field>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</mat-tab>

										<mat-tab id="memberDefaultInstAcquiringTab" *ngIf="acquiringApiInstTab">
											<ng-template mat-tab-label> {{'Acquiring.General.Institution' | translate}} </ng-template>
											<div *ngFor="let rowMemberApp of memberDefaultInstAcquiring">
												<b> {{rowMemberApp.description}}</b>
												<div class="kt-form__section kt-form__section--first">
													<div class="kt-form__group">
														<div class="row">
															<div *ngFor="let rowMember of rowMemberApp.data" class="col-md-4 kt-margin-b-10-mobile">
																<div *ngIf="rowMember.dataType===null || rowMember.dataType==='T' || (rowMember.dataType==='L' && rowMember.lookup==='')">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="text" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='N'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="number" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='D'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" matInput [matDatepicker]="rowMember.guid" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																		<mat-datepicker-toggle matSuffix [for]="rowMember.guid"></mat-datepicker-toggle>
																		<mat-datepicker #rowMember.guid></mat-datepicker>
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='L' && rowMember.lookup !=''">
																	<mat-form-field class="mat-form-field-fluid">
																		<mat-select title="{{rowMember.key}}" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																			<mat-option id="{{rowMember.guid}}" [value]="item.code" *ngFor="let item of getLookUpList(rowMember.lookup)"> {{item.description}} </mat-option>
																		</mat-select>
																	</mat-form-field>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</mat-tab>
									</mat-tab-group>
								</mat-tab>
								<mat-tab id="memberDefaultIssuingTab" *ngIf="issuingApiTab">
									<ng-template mat-tab-label> <i class="flaticon-web kt--margin-right-10"></i>{{'Menu.Issuing.Title' | translate}} </ng-template>
									<mat-tab-group>
										<mat-tab id="memberDefaultCoreIssuingTab" *ngIf="issuingApiCoreTab">
											<ng-template mat-tab-label> {{'Issuing.General.Core' | translate}} </ng-template>
											<div *ngFor="let rowMemberApp of memberDefaultCoreIssuing">
												<b> {{rowMemberApp.description}}</b>
												<div class="kt-form__section kt-form__section--first">
													<div class="kt-form__group">
														<div class="row">
															<div *ngFor="let rowMember of rowMemberApp.data" class="col-md-4 kt-margin-b-10-mobile">
																<div *ngIf="rowMember.dataType===null || rowMember.dataType==='T' || (rowMember.dataType==='L' && rowMember.lookup==='')">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="text" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='N'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="number" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='D'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" matInput [matDatepicker]="rowMember.guid" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																		<mat-datepicker-toggle matSuffix [for]="rowMember.guid"></mat-datepicker-toggle>
																		<mat-datepicker #rowMember.guid></mat-datepicker>
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='L' && rowMember.lookup !=''">
																	<mat-form-field class="mat-form-field-fluid">
																		<mat-select title="{{rowMember.key}}" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																			<mat-option id="{{rowMember.guid}}" [value]="item.code" *ngFor="let item of getLookUpList(rowMember.lookup)"> {{item.description}} </mat-option>
																		</mat-select>
																	</mat-form-field>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</mat-tab>

										<mat-tab id="memberDefaultInstIssuingTab" *ngIf="issuingApiInstTab">
											<ng-template mat-tab-label> {{'Issuing.General.Institution' | translate}} </ng-template>
											<div *ngFor="let rowMemberApp of memberDefaultInstIssuing">
												<b> {{rowMemberApp.description}}</b>
												<div class="kt-form__section kt-form__section--first">
													<div class="kt-form__group">
														<div class="row">
															<div *ngFor="let rowMember of rowMemberApp.data" class="col-md-4 kt-margin-b-10-mobile">
																<div *ngIf="rowMember.dataType===null || rowMember.dataType==='T' || (rowMember.dataType==='L' && rowMember.lookup==='')">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="text" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='N'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="number" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='D'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" matInput [matDatepicker]="rowMember.guid" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																		<mat-datepicker-toggle matSuffix [for]="rowMember.guid"></mat-datepicker-toggle>
																		<mat-datepicker #rowMember.guid></mat-datepicker>
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='L' && rowMember.lookup !=''">
																	<mat-form-field class="mat-form-field-fluid">
																		<mat-select title="{{rowMember.key}}" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																			<mat-option id="{{rowMember.guid}}" [value]="item.code" *ngFor="let item of getLookUpList(rowMember.lookup)"> {{item.description}} </mat-option>
																		</mat-select>
																	</mat-form-field>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</mat-tab>
									</mat-tab-group>
								</mat-tab>
								<mat-tab id="memberDefaultClearingTab" *ngIf="clearingApiTab">
									<ng-template mat-tab-label> <i class="flaticon-list kt--margin-right-10"></i>{{'Menu.Clearing.Title' | translate}} </ng-template>
									<mat-tab-group>
										<mat-tab id="memberDefaultCoreClearingTab" *ngIf="clearingApiCoreTab">
											<ng-template mat-tab-label> {{'Clearing.Clearing.Core' | translate}} </ng-template>
											<div *ngFor="let rowMemberApp of memberDefaultCoreClearing">
												<b> {{rowMemberApp.description}}</b>
												<div class="kt-form__section kt-form__section--first">
													<div class="kt-form__group">
														<div class="row">
															<div *ngFor="let rowMember of rowMemberApp.data" class="col-md-4 kt-margin-b-10-mobile">
																<div *ngIf="rowMember.dataType===null || rowMember.dataType==='T' || (rowMember.dataType==='L' && rowMember.lookup==='')">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="text" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='N'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="number" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='D'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" matInput [matDatepicker]="rowMember.guid" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																		<mat-datepicker-toggle matSuffix [for]="rowMember.guid"></mat-datepicker-toggle>
																		<mat-datepicker #rowMember.guid></mat-datepicker>
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='L' && rowMember.lookup !=''">
																	<mat-form-field class="mat-form-field-fluid">
																		<mat-select title="{{rowMember.key}}" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																			<mat-option id="{{rowMember.guid}}" [value]="item.code" *ngFor="let item of getLookUpList(rowMember.lookup)"> {{item.description}} </mat-option>
																		</mat-select>
																	</mat-form-field>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</mat-tab>

										<mat-tab id="memberDefaultInstClearingTab" *ngIf="clearingApiInstTab">
											<ng-template mat-tab-label> {{'Clearing.Clearing.Institution' | translate}} </ng-template>
											<div *ngFor="let rowMemberApp of memberDefaultInstClearing">
												<b> {{rowMemberApp.description}}</b>
												<div class="kt-form__section kt-form__section--first">
													<div class="kt-form__group">
														<div class="row">
															<div *ngFor="let rowMember of rowMemberApp.data" class="col-md-4 kt-margin-b-10-mobile">
																<div *ngIf="rowMember.dataType===null || rowMember.dataType==='T' || (rowMember.dataType==='L' && rowMember.lookup==='')">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="text" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='N'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="number" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='D'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" matInput [matDatepicker]="rowMember.guid" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																		<mat-datepicker-toggle matSuffix [for]="rowMember.guid"></mat-datepicker-toggle>
																		<mat-datepicker #rowMember.guid></mat-datepicker>
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='L' && rowMember.lookup !=''">
																	<mat-form-field class="mat-form-field-fluid">
																		<mat-select title="{{rowMember.key}}" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																			<mat-option id="{{rowMember.guid}}" [value]="item.code" *ngFor="let item of getLookUpList(rowMember.lookup)"> {{item.description}} </mat-option>
																		</mat-select>
																	</mat-form-field>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</mat-tab>
									</mat-tab-group>
								</mat-tab>
								<mat-tab id="memberDefaultFraudTab" *ngIf="fraudApiTab">
									<ng-template mat-tab-label> <i class="flaticon-list-3 kt--margin-right-10"></i>{{'Menu.Cleveract.Title' | translate}} </ng-template>
									<mat-tab-group>
										<mat-tab id="memberDefaultCoreFraudTab" *ngIf="fraudApiCoreTab">
											<ng-template mat-tab-label> {{'CleverAct.General.Core' | translate}}</ng-template>
											<div *ngFor="let rowMemberApp of memberDefaultCoreFraud">
												<b> {{rowMemberApp.description}}</b>
												<div class="kt-form__section kt-form__section--first">
													<div class="kt-form__group">
														<div class="row">
															<div *ngFor="let rowMember of rowMemberApp.data" class="col-md-4 kt-margin-b-10-mobile">
																<div *ngIf="rowMember.dataType===null || rowMember.dataType==='T' || (rowMember.dataType==='L' && rowMember.lookup==='')">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="text" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='N'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="number" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='D'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" matInput [matDatepicker]="rowMember.guid" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																		<mat-datepicker-toggle matSuffix [for]="rowMember.guid"></mat-datepicker-toggle>
																		<mat-datepicker #rowMember.guid></mat-datepicker>
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='L' && rowMember.lookup !=''">
																	<mat-form-field class="mat-form-field-fluid">
																		<mat-select title="{{rowMember.key}}" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																			<mat-option id="{{rowMember.guid}}" [value]="item.code" *ngFor="let item of getLookUpList(rowMember.lookup)"> {{item.description}} </mat-option>
																		</mat-select>
																	</mat-form-field>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</mat-tab>

										<mat-tab id="memberDefaultInstFraudTab" *ngIf="fraudApiInstTab">
											<ng-template mat-tab-label> {{'CleverAct.General.Institution' | translate}} </ng-template>
											<div *ngFor="let rowMemberApp of memberDefaultInstFraud">
												<b> {{rowMemberApp.description}}</b>
												<div class="kt-form__section kt-form__section--first">
													<div class="kt-form__group">
														<div class="row">
															<div *ngFor="let rowMember of rowMemberApp.data" class="col-md-4 kt-margin-b-10-mobile">
																<div *ngIf="rowMember.dataType===null || rowMember.dataType==='T' || (rowMember.dataType==='L' && rowMember.lookup==='')">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="text" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='N'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="number" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='D'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" matInput [matDatepicker]="rowMember.guid" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																		<mat-datepicker-toggle matSuffix [for]="rowMember.guid"></mat-datepicker-toggle>
																		<mat-datepicker #rowMember.guid></mat-datepicker>
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='L' && rowMember.lookup !=''">
																	<mat-form-field class="mat-form-field-fluid">
																		<mat-select title="{{rowMember.key}}" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																			<mat-option id="{{rowMember.guid}}" [value]="item.code" *ngFor="let item of getLookUpList(rowMember.lookup)"> {{item.description}} </mat-option>
																		</mat-select>
																	</mat-form-field>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</mat-tab>
									</mat-tab-group>
								</mat-tab>
								<mat-tab id="memberDefaultCommonTab" *ngIf="commonApiTab">
									<ng-template mat-tab-label> <i class="flaticon-settings kt--margin-right-10"></i>{{'Menu.Common.Title' | translate}} </ng-template>
									<mat-tab-group>
										<mat-tab id="memberDefaultCoreCommonTab" *ngIf="commonApiCoreTab">
											<ng-template mat-tab-label> {{'System.Member.Core' | translate}} </ng-template>
											<div *ngFor="let rowMemberApp of memberDefaultCoreCommon">
												<b> {{rowMemberApp.description}}</b>
												<div class="kt-form__section kt-form__section--first">
													<div class="kt-form__group">
														<div class="row">
															<div *ngFor="let rowMember of rowMemberApp.data" class="col-md-4 kt-margin-b-10-mobile">
																<div *ngIf="rowMember.dataType===null || rowMember.dataType==='T' || (rowMember.dataType==='L' && rowMember.lookup==='')">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="text" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='N'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="number" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='D'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" matInput [matDatepicker]="rowMember.guid" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																		<mat-datepicker-toggle matSuffix [for]="rowMember.guid"></mat-datepicker-toggle>
																		<mat-datepicker #rowMember.guid></mat-datepicker>
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='L' && rowMember.lookup !=''">
																	<mat-form-field class="mat-form-field-fluid">
																		<mat-select title="{{rowMember.key}}" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																			<mat-option id="{{rowMember.guid}}" [value]="item.code" *ngFor="let item of getLookUpList(rowMember.lookup)"> {{item.description}} </mat-option>
																		</mat-select>
																	</mat-form-field>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</mat-tab>

										<mat-tab id="memberDefaultInstCommonTab" *ngIf="commonApiInstTab">
											<ng-template mat-tab-label> {{'System.Member.Institution' | translate}} </ng-template>
											<div *ngFor="let rowMemberApp of memberDefaultInstCommon">
												<b> {{rowMemberApp.description}}</b>
												<div class="kt-form__section kt-form__section--first">
													<div class="kt-form__group">
														<div class="row">
															<div *ngFor="let rowMember of rowMemberApp.data" class="col-md-4 kt-margin-b-10-mobile">
																<div *ngIf="rowMember.dataType===null || rowMember.dataType==='T' || (rowMember.dataType==='L' && rowMember.lookup==='')">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="text" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='N'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" type="number" id="{{rowMember.guid}}" formControlName="{{rowMember.guid}}" matInput placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='D'">
																	<mat-form-field class="mat-form-field-fluid">
																		<input title="{{rowMember.key}}" matInput [matDatepicker]="rowMember.guid" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																		<mat-datepicker-toggle matSuffix [for]="rowMember.guid"></mat-datepicker-toggle>
																		<mat-datepicker #rowMember.guid></mat-datepicker>
																	</mat-form-field>
																</div>

																<div *ngIf="rowMember.dataType==='L' && rowMember.lookup !=''">
																	<mat-form-field class="mat-form-field-fluid">
																		<mat-select title="{{rowMember.key}}" formControlName="{{rowMember.guid}}" placeholder="{{rowMember.key | translate}}" value="{{rowMember.value}}">
																			<mat-option id="{{rowMember.guid}}" [value]="item.code" *ngFor="let item of getLookUpList(rowMember.lookup)"> {{item.description}} </mat-option>
																		</mat-select>
																	</mat-form-field>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</mat-tab>
									</mat-tab-group>
								</mat-tab>
							</mat-tab-group>
						</form>
					</ng-template>
				</ngb-panel>

				<ngb-panel id="rolDefinifitonToogle" *ngIf="activeAccordionActiveIdsList.includes('rolDefinifitonToogle')">
					<ng-template ngbPanelTitle>
						<span class="kt-accordion__item-title">{{'System.Member.UserRoleDefinitionInfo'| translate}}</span>
					</ng-template>

					<ng-template ngbPanelContent>
						<form [formGroup]="rolDefinitionForm" class="kt-form" autocomplete="off">
							<div class="kt-form__section kt-form__section--first">
								<div class="kt-form__group">
									<div class="row">
										<div class="col-lg-4 kt-margin-b-10-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select formControlName="userCode" placeholder="{{'Clearing.Clearing.UserCode' | translate}}" (selectionChange)="onChangeUserCode($event)" required>
													<ngx-mat-select-search [formControl]="formControlSearch" #filter7 placeholderLabel="{{'General.Search' | translate}}" noEntriesFoundLabel="{{'General.NoRecordsFound' | translate }}"></ngx-mat-select-search>
													<mat-option id="userCode" [value]="item.code" *ngFor="let item of userCodeList | filterByProperty: ['code','description',filter7.value];"> {{item.code}} ~ {{item.description}} </mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
								</div>

								<div class="kt-form__group">
									<div class="row row-no-padding row-col-separator-xl">
										<div class="col-xl-6">
											<div class="kt-widget1">
												<div class="kt-widget1__item">
													<div class="row row-no-padding align-items-center">
														<mat-form-field class="mat-form-field-fluid">
															<input [readonly]="isView" matInput id="menuRolName" placeholder="{{'General.RoleNameMenu' | translate}}" formControlName="menuRolName" type="text" maxlength="500" required>
														</mat-form-field>
													</div>
												</div>

												<div class="kt-widget1__item">
													<div class="row row-no-padding align-items-center">
														<mat-tree [dataSource]="dataSourceMenu" [treeControl]="treeControlMenu" id="menuTree">
															<mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
																<button mat-icon-button disabled></button>
																<mat-checkbox [disabled]="isView" class="checklist-leaf-node" [indeterminate]="checklistIndeterminateSelectionMenu.isSelected(node)" [checked]="checklistSelectionMenu.isSelected(node)" (change)="menuLeafItemSelectionToggle(node,1)">{{node.description | translate}}</mat-checkbox>
															</mat-tree-node>

															<mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
																<button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
																	<mat-icon class="mat-icon-rtl-mirror">
																		{{treeControlMenu.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
																	</mat-icon>
																</button>

																<mat-checkbox [disabled]="isView" [checked]="descendantsAllSelected(node,1)" [indeterminate]="descendantsPartiallySelected(node,1)" (change)="menuItemSelectionToggle(node,1)">{{node.description | translate}}</mat-checkbox>
															</mat-tree-node>
														</mat-tree>
													</div>
												</div>
											</div>
										</div>

										<div class="col-xl-6">
											<div class="kt-widget1">
												<div class="kt-widget1__item">
													<div class="row row-no-padding align-items-center">
														<mat-form-field class="mat-form-field-fluid">
															<input [readonly]="isView" matInput id="apiRolName" placeholder="{{'General.RoleNameApi' | translate}}" formControlName="apiRolName" type="text" maxlength="500" required>
														</mat-form-field>
													</div>
												</div>

												<div class="kt-widget1__item">
													<div class="row row-no-padding align-items-center">
														<mat-tree [dataSource]="dataSourceApi" [treeControl]="treeControlApi" id="apiTree">
															<mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
																<button mat-icon-button disabled></button>
																<mat-checkbox [disabled]="isView" class="checklist-leaf-node" [indeterminate]="checklistIndeterminateSelectionApi.isSelected(node)" [checked]="checklistSelectionApi.isSelected(node)" (change)="menuLeafItemSelectionToggle(node,2)">{{node.description | translate}}</mat-checkbox>
															</mat-tree-node>

															<mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
																<button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
																	<mat-icon class="mat-icon-rtl-mirror">
																		{{treeControlApi.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
																	</mat-icon>
																</button>

																<mat-checkbox [disabled]="isView" [checked]="descendantsAllSelected(node,2)" [indeterminate]="descendantsPartiallySelected(node,2)" (change)="menuItemSelectionToggle(node,2)">{{node.description}}</mat-checkbox>
															</mat-tree-node>
														</mat-tree>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</ng-template>
				</ngb-panel>
			</ngb-accordion>
		</div>

		<div class="row" style="height: 100px;"></div>
	</kt-portlet-body>
</kt-portlet>