.kt-environment {
	font-weight: bold;
	font-size: 26px;
}

.kt-environment-spinner-DEV {
	background-color: #34bfa3;
}

.kt-environment-DEV {
	color: #34bfa3;
}

.kt-environment-spinner-PREPROD {
	background-color: #f4516c;
}

.kt-environment-PREPROD {
	color: #f4516c;
}

.kt-environment-spinner-PROD {
	background-color: #f4516c;
}

.kt-environment-PROD {
	color: #f4516c;
}

.kt-environment-spinner-LOCAL {
	background-color: #9816f4;
}

.kt-environment-LOCAL {
	color: #9816f4;
}

.kt-environment-spinner-TEST {
	background-color: #36a3f7;
}

.kt-environment-TEST {
	color: #36a3f7;
}

.kt-environment-spinner-UAT {
	background-color: #f4516c;
}

.kt-environment-UAT {
	color: #f4516c;
}

.kt-memberName {
	font-weight: normal;
	font-size: 16px;
}
